<div style="position: relative;">
<h1>LISTA DE TAREAS (V1)</h1><span (click)="onNoClick()" style="position: absolute; right: 0px; top: 0px; cursor: pointer;"><mat-icon>close</mat-icon></span>
<h2><b>Por:</b> Edgar Gastón Altamirano.</h2>
<p>Este (micro)-proyecto es parte de la organización en Github <span style="text-decoration: line-through;">nombre del proyecto</span>. Para reportar cualquier error/bug que afecte a tu experiencia en el uso de esta versión <span class="spoiler">BETA</span>, puedes hacerlo <a href="https://c.tenor.com/2jb3q5ZNV4kAAAAC/toy-story-dont-count-on-it.gif">aquí</a>. <br>
<br>Gracias a <b>@c3r38r170</b> por su inciativa en la propuesta del desarrollo de esta <span class="spoiler">(y el resto)</span> de aplicaciones.</p>
<h2>Tecnologías usadas:</h2>
<b>Frontend: </b> <a href="https://angular.io/">Angular</a>
<br>
<b>Estilos: </b> <a href="https://material.angular.io/">Angular Material</a>
<br>
<b>Íconos: </b> <a href="https://fontawesome.com/">FontAwesome</a>
<br><br>
<h2>Cambios a venir:</h2>
<ul>
  <li>Permitir modificar categorías.</li>
  <li>Permitir modificar tareas.</li>
  <li><i>Los sugeridos por ustedes...</i></li>
</ul>
Proyecto realizado por <a href="https://github.com/gastonalt">Edgar Gastón Altamirano</a> con <a href="https://es.wikipedia.org/wiki/JavaScript"><i class="fa-brands fa-js"></i></a> y <a href="https://es.wikipedia.org/wiki/Amor"><i class="fa-solid fa-heart"></i></a> - 2022.
</div>
